@charset "utf-8";

body{
    min-width:1200px;/*최소영역을 가지게 한다. 화면을 줄여도 배경화면이 날아가지 않도록... 반:max-width*/
    font-family:"NotoSans",sans-serif;
}
body,h1,h2,h3,h4,h5,h6,p{
    margin:0;
}
a{
    text-decoration:none;
    color:#333;
}
ul{
    margin:0;
    padding:0;
    list-style:none;
}
.inner{
    width:1200px;
    margin:0 auto;
}
.cf:after{
    content:"";
    display:block;
    clear:both;
}